@font-face {

font-family: bulkypixels;
src: url('Fonts/BulkyPixels.ttf') format('ttf'),
	url('Fonts/BulkyPixels.woff2') format('woff2'),
    url('Fonts/BulkyPixels.woff') format('woff'),
    url('Fonts/BulkyPixels.svg#BulkyPixels') format('svg');
}

body {

background-image: url("../Images/background.jpg");
font-family: bulkypixels, "Helvetica", "Arial", serif;

}

.opening {

width: 50%;
background: rgba(225,225,225,0.9);
text-align: center;
padding: 10px;
margin: 50px auto;
border-radius: 10px;

}

.content {

width: 60%;
background: rgba(225,225,225,0.9);
margin: 100px auto;
padding: 10px;
text-align: center;
border-radius: 10px;

}
