@font-face {

font-family: "bulkypixels";
src: url('Fonts/BulkyPixels.ttf') format('ttf'),
	url('Fonts/BulkyPixels.woff2') format('woff2'),
    url('Fonts/BulkyPixels.woff') format('woff'),
    url('Fonts/BulkyPixels.svg#BulkyPixels') format('svg');
}

body {

background-image: url("../Images/background.jpg");
font-family: "bulkypixels", "Helvetica", "Arial", serif;

}

a:link {

color: blue;
text-decoration: none;

}

a:visited {

color: blue;
text-decoration: none;

}

.opening {

width: 444px;
background: rgb(225,225,225);
text-align: center;
padding: 10px;
margin: 50px auto;
border-radius: 10px;

}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.aboutme {

margin: 100px auto;
padding: 20px;
font-family: "Futura-Medium";
max-width: 800px;
font-size: 3vw;
background: rgba(225,225,225,0.9);

}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    width: 250px;
    
    }

.blogpost {

margin: 30px auto;
max-width: 600px;
background: rgba(225,225,225,0.9);
padding: 30px;
border-radius: 5px;
text-align: ;
word-spacing: 7px;
font-family: "Futura-Medium";

}
